* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Open-sans', sans-serif;
}

body {
	display: grid;
	grid-template-areas: 
	"nav topSection"
	"nav bottomSection";
	grid-template-columns: 25% 75%;
}

nav {
	background-color: #201f3d;
	grid-area: nav;
	height: 100vh;
	color: white;
  font-weight:100;
}

nav ul li:hover {
  background-color: #d14119;
}

h1 {
  border-bottom: 1px inset #eaeaf4;
  font-weight: 400;
 /* margin-left: 20px;*/
  margin-top: 40px;
  margin-bottom: 40px;
}

.nav-btn {
  height: 50px;
  width: 90%;
  font-size: 26px;
  background-color: #5356a4;
  border-color: #353567;
  color: #e9e9f3;
  border-radius: 2px;
  font-weight: 600;
}

ul {
  padding-inline-start: 0;
  /*margin-left:20px;*/
}

li {
  list-style-type: none;
  font-size: 28px;
 /* margin-bottom: 30px;*/
  height: 55px;
  border-left-width: 10px;
}

label {
	display: block;
  margin: 25px 0 5px;
}

.input-field {
  background-color: #a8aad2;
	grid-area: topSection;
	display: flex;
	justify-content: center;
}

.title-input {
  height: 42px;
  width: 100%;
  border-radius: 3px;
  border-color: #353567;
  font-size: 20px;
}

.body-input {
  height: 89px;
  width: 100%;
  border-radius: 3px;
  border-color: #353567;
  font-size: 20px;
}

.card-field {
	background-color: #eaeaf4;
	grid-area: bottomSection;
  display:grid;
  grid-template-columns: 22% 22% 22% 22%;
  grid-gap: 10px 10px;
  grid-template-rows: repeat(2,1fr);
  padding: 20px;
}

.card-icon {
	height: 20px;
	width: 20px;
}

h3 {
  margin-bottom: 40px;
}

.quality-heading {
  margin-top: 40px;
}

.new-quality-input {
  width: 90%;
  height: 50px;
  margin-bottom: 20px;
}

h3, 
.quality-label{
  color: #eaeaf4;
}


form {
  width: 40%;
  padding-top: 14px;
  font-weight: 700;
}

.save-btn {
  display: block;
  width: 100%;
  height: 42px;
  margin: 19px 0 19px;
  border-radius: 3px;
  background-color: #1f1f3d;
  font-size: 20px;
  color: white;
  font-weight: 600;
  border-color: #1f1f3d; 
}

.search-btn {
  margin-right: -6px;
  height: 42px;
  width: 12%;
  background-color: #1f1f3d;
  border-color: #1f1f3d; 
}

.search-input {
  width: 88%;

}

.disabled {
  background-color:#eaeaf4;
  cursor:not-allowed;
}

article {
  height: 250px;
  width: 200px;
  background-color: white;
  display: grid;
}

header {
  background-color: #201f3d;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #5356a4;
}
